body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table th:not([align]) {
  text-align: right;
  direction: rtl;
}
.columns {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -0.75rem;
  float: right;
  direction: rtl;
}
.button.is-small:not(.is-rounded) {
  border-radius: 2px;
  margin-left: 5px;
}